:root {
    --pinkneutral: #EDC7B7; 
    --light: #EEE2DC;
    --grey: #BAB2b5; 
    --blue : #123C69;
    --wine: #AC3B61;
    --mont: 'Montserrat', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

 /* .hide{
    visibility: hidden;
 } */

body {
    background-color: var(--wine);
}

h1{
    font-family: var(--mont);
    font-size: 40px;
    color: #fff;
    text-align: center;
}

ul {
    list-style: circle outside;
    padding-left: 40px;
}
ul li {
    position: relative;
    padding-left: 1px;
}


.ingr-card {
    height:fit-content;
    width: fit-content;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    background-color: var(--grey);
    font-family: var(--mont);

  }
  
  .ingr-card header {
    text-align: center;
    padding: 20px;
    background: var(--blue);
    color: #fff;
  }
  
  .ingr-card img {
    display: center;
    margin: 5px;
    width: 120px;
    height: 150px; 
  }



#ingredients-btn {
    font-family: var(--mont);
    font-size: 25px;
    font-weight: 500;
    color: var(--wine);
    padding: 15px 30px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
}

#ingredients-btn:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--wine);
    background-color: lightgray;
    transition: all 0.3s ease-in-out;
}

#recipe-box{
font-family: var(--mont);
color: var(--light);
font-size: 20px;
margin: 30px;
align-items: center;

}
#ingredients-list{
    font-family: var(--mont);
    color: var(--light);
    font-size: 20px;

}

.storemap header{
    font-family: var(--mont);
    color: var(--light);
    font-size: 40px;
    margin-top: 20px;
    text-align: center;

}

