:root {
    --pinkneutral: #EDC7B7; 
    --light: #EEE2DC;
    --grey: #BAB2b5; 
    --blue : #123C69;
    --wine: #AC3B61;
    --mont: 'Montserrat', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-color: var(--wine);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
}

/* Styling headers */
h1,
h5 {
    font-family: var(--mont);
    color: #fff;
}

h1 {
    text-align: center;
}

ul {
    list-style: circle outside;
    padding-left: 40px;
}
ul li {
    position: relative;
    padding-left: 1px;
}

/* Ingredients cards */
.ingr-section {
    padding: 10px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1px;
}

.ingr-card {
    height:fit-content;
    width: fit-content;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    background-color: var(--grey);
    font-family: var(--mont);
  }
  
  .ingr-card header {
    text-align: center;
    padding: 20px;
    background: var(--blue);
    color: #fff;
  }
  
  .ingr-card img {
    display: center;
    margin: 5px;
    width: 120px;
    height: 150px; 
  }


/* Styling button(s)*/
#ingredients-btn {
    font-family: var(--mont);
    font-size: 25px;
    font-weight: 500;
    color: var(--wine);
    padding: 15px 30px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
}

#ingredients-btn:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--wine);
    background-color: lightgray;
    transition: all 0.3s ease-in-out;
}
