:root {
    --pinkneutral: #EDC7B7; 
    --light: #EEE2DC;
    --grey: #BAB2b5; 
    --blue : #123C69;
    --wine: #AC3B61;
    --mont: 'Montserrat', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

 /* .hide{
    visibility: hidden;
 } */

body {
    background-image: linear-gradient(var(--wine) 48%, var(--pinkneutral) 50%, var(--wine));
    font-family: var(--mont);
    text-align: center;
}

h1 {
    font-family: var(--mont);
    font-size: 100px;
    color: #fff;
    margin-bottom: 20px;
}

h2 {
    color: var(--light);
}

p {
    color: var(--light);
}

.box {
    text-align: center;
    border: 5px;
    border-style: solid;
    padding: 40px;
}

.box h2 {
    color: var(--light);
    font-size: 24px;
}

.box p {
    color: #ffff;
    font-size: 16px;
}

.ingr-card {
    margin-top: 20px;
    padding-top: 10px;
    font-family: var(--mont);
    background-color: var(--pinkneutral);
}

.ingr-section {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

#ingredients-btn {
    font-family: var(--mont);
    font-size: 25px;
    font-weight: 500;
    color: var(--blue);
    padding: 15px 30px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-image: radial-gradient(circle, rgba(238,226,220,1) 100%, rgba(238,174,202,1) 0%);
}

#ingredients-btn:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--wine);
    background-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease-in-out;
}

#recipe-box,
#ingr-box,
#map-box {
font-family: var(--mont);
color: var(--light);
font-size: 20px;
margin: 30px;
align-items: center;

}
#ingredients-list{
    font-family: var(--mont);
    color: var(--light);
    font-size: 20px;

}

.storemap header{
    font-family: var(--mont);
    color: var(--light);
    font-size: 40px;
    margin-top: 20px;
    text-align: center;

}

#map-box {
    background-color: var(--blue);
}

.row {
    flex: 1 1 25%;
    color: var(--blue);
    text-align: left;
}

.prod-img {
    opacity: 0.75;
}

.prod-img:hover {
    opacity: unset;
}


