:root {
    --pinkneutral: #EDC787; 
    --light: #EEE2DC;
    --grey: #BAB2b5; 
    --blue : #123C69;
    --wine: #AC3B61;
    --mont: 'Montserrat', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    font-family: var(--mont);
    font-size: 100px;
    padding: 40px;
    text-align: center;
    background: var(--teal);
    color: #fff;
    border-bottom:30px #879274;
}

body {
    font-family:var(--mont);
    font-size: 20px;
    background-color: var(--wine); 
    color: #fff; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

h1 {
    user-select: none;
}

/* Styling Images*/
.images-container {
    display: flex;
    justify-content: center;
}

.images-container img {
    margin-left: 5px;
    margin-right: 5px;
    width: 350px;
    height: 450px;
}

.images-container {
    overflow: hidden;
}

.img {
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.img:hover {
    transform: scale(1.056);
    opacity: .75;
}

/* Styling Button(s)*/
#enter-btn {
    font-size: 25px;
    font-weight: 500;
    color: var(--wine);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
}

#enter-btn:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--wine);
    background-color: lightgray;
    transition: all 0.3s ease-in-out;
}