:root {
    --pinkneutral: #EDC787; 
    --light: #EEE2DC;
    --grey: #BAB2b5; 
    --blue : #123C69;
    --wine: #AC3B61;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    font-family: 'Montserrat', cursive;
    font-size: 100px;
    padding: 40px;
    text-align: center;
    background: var(--teal);
    color: #fff;
    border-bottom:30px #879274;
  }

body {
    font-family:'Montserrat', cursive;
    font-size: 20px;
    background-color: var(--wine); 
    color: #fff; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.images-container {
    display: flex;
    justify-content: center;
}

.images-container img {
    margin-left: 5px;
    margin-right: 5px;
    width: 350px;
    height: 450px;
}

.btn {
    border: 1px solid, 100%, 30%;
    background-color: var(--light);  
    color: var(--wine);
    font-family:'Montserrat', cursive; 
    font-size: 16px;
    width: 100px;
    position: absolute;
    top: 90%;
    left: 50%;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover {
    border-color: #ffff;
}
