:root {
    --pinkneutral: #EDC7B7; 
    --light: #EEE2DC;
    --grey: #BAB2b5; 
    --blue : #123C69;
    --wine: #AC3B61;
    --mont: 'Montserrat', cursive;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    font-family: var(--mont);
    font-size: 50px;
    padding: 40px;
    text-align: center;
    background: var(--teal);
    color: #fff;
}

body {
    font-family: var(--mont);
    font-size: 20px;
    background-color: var(--wine); 
    color: #fff; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

h1 {
    user-select: none;
    margin-bottom: 30px;
}


/* Styling Images*/
.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.images-container img {
    margin-left: 5px;
    margin-right: 5px;
    width: 300px;
    height: 370px;
}

.img {
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    opacity: .4;
}

.img:focus {
    position: relative;
}

.img:hover,
.img:focus {
    transform: scale(1.056);
    opacity: .75;
}

/*text stylzing*/

.centered {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

/* Styling Button(s)*/
#enter-btn {
    margin-top: 50px;
    font-family: var(--mont);
    font-size: 25px;
    font-weight: 500;
    color: var(--wine);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
}

#enter-btn:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--wine);
    background-color: lightgray;
    transition: all 0.3s ease-in-out;
}
